/* ====== FONTS ====== */

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* ====== GLOBAL ====== */

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  font-family: "rubik", "verdana", sans-serif;
  font-size: 18px;
  color: #444444;
  background: #ffffff;
  height: 100%;
}
button {
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent;
}

.main-container {
  flex-grow: 1;
  width: 100%;
}

.page-container {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ====== BUTTONS ====== */

.universal-button {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 220px;
  text-align: center;
  line-height: 20px;
  border: none;
  background: none;
  padding: 0px;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.background-universal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8px;
  background-color: #ffc700;
  content: " ";
  z-index: 0;
  border: none;
  outline: none;
  transform: translateY(-50%);
}

.universal-button:focus > .background-universal-button {
  background-color: #af4fff;
}
.universal-button:hover > .background-universal-button {
  background-color: #ffc700;
  padding: 15px 0;
}
.universal-button:active {
  opacity: 0.3;
}

/* ====== PAGE-HEADER ====== */

.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  background-color: #ffe17f;
  width: 1160px;
  justify-content: space-between;
}

.navigation-content {
  display: flex;
  background-color: #ffe17f;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 23px;
}

.user-nav {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-bottom: 156px;
  padding-right: 40px;
  width: 100%;
}
.navigation-user:nth-child(1) {
  margin-right: 127px;
}
.navigation-user:nth-child(3) {
  position: relative;
  margin-right: 3px;
}

.navigation-user-container {
  margin-bottom: 23px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.logo-device {
  display: block;
  height: 36px;
  width: 145px;
  padding: 10px;
  margin-top: -31px;
  margin-left: 51px;
}
.logo-device:focus {
  display: block;
  outline: 2px solid #af4fff;
  border-radius: 20px;
}
.navigation-site:nth-child(1) {
  margin-left: 44px;
}
.navigation-site:nth-child(2) {
  margin-left: 50px;
}

.search {
  position: relative;
}
.search::before {
  position: absolute;
  content: url("../images/search.svg");
  width: 16px;
  height: 16px;
  left: 16px;
  z-index: 5;
  top: 8px;
}
.search-container {
  display: flex;
  position: relative;
}
.search-box:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}
.search-box:not(:placeholder-shown) + .search-button {
  display: block;
  outline: 2px solid #000000;
}
.search-box:not(:placeholder-shown) {
  outline: 2px solid #000000;
  border-radius: 20px;
}
.search-box {
  width: 460px;
  border: 0;
  padding-left: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffe17f;
}
.search-box::placeholder {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
}
.search-box:hover::placeholder {
  opacity: 0.6;
}

.search-button {
  display: none;
  position: absolute;
  outline: 2px solid #000000;
  border: 0;
  border-radius: 0px 20px 20px 0px;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 158px;
  background-color: #ffe17f;
  font-size: 16px;
  right: 0px;
  top: 0px;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 0;
}
.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: 0;
}
.catalog:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}
.catalog:hover::before {
  border: 2px solid #000000;
}
.catalog:hover::after {
  content: "";
  background-color: black;
  width: 16px;
  height: 2px;
  margin-top: 8px;
  opacity: 1;
}

.catalog:active {
  opacity: 0.3;
}
.catalog:active::before {
  border: 2px solid #000000;
  opacity: 0.3;
}
.catalog:active::after {
  content: "";
  background-color: black;
  width: 16px;
  height: 2px;
  margin-top: 8px;
}
.catalog:focus:hover {
  outline: none;
  border: none;
}
.catalog {
  position: relative;
  display: block;
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  margin-top: 25px;
  width: 230px;
}

.catalog::after {
  position: absolute;
  content: url("../images/plus.svg");
  width: 16px;
  height: 16px;
  left: 269px;
  opacity: 0.3;
}

.catalog::before {
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 46px;
  height: 46px;
  float: right;
  position: absolute;
  margin-left: 242px;
  margin-top: -17px;
}

.login-link::before {
  content: url("../images/user.svg");
  width: 13px;
  height: 12px;
  padding-right: 12px;
}

.login-link {
  padding: 10px;
  padding-left: 18px;
  padding-right: 20px;
  cursor: pointer;
}
.login-link:hover {
  opacity: 0.6;
  border: none;
  outline: none;
}
.login-link:active {
  opacity: 0.3;
  border: none;
  outline: none;
}
.login-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.compare {
  padding: 10px;
  padding-left: 16px;
  padding-right: 18px;
  cursor: pointer;
}
.compare:hover {
  opacity: 0.6;
  border: none;
  outline: none;
}
.compare:active {
  opacity: 0.3;
  border: none;
  outline: none;
}
.compare:focus {
  outline: 2px solid #af4fff;

  border-radius: 20px;
}

.compare::before {
  content: url("../images/compare.svg");
  width: 10px;
  height: 12px;
  padding-right: 10px;
}

.basket {
  padding: 10px;
  position: relative;
  padding-left: 15px;
  padding-right: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.counter {
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 14px;
  padding: 2px 7px;
  position: absolute;
  left: 0px;
  top: 10px;
}
.basket:before {
  content: url("../images/basket.svg");
  width: 16px;
  height: 14px;
  margin-right: 10px;
}
.basket:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 20px;
}
.basket:active {
  opacity: 0.3;
  border: none;
  outline: none;
}

.user-link,
.navigation-user-text,
.exit {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.info-list li:nth-child(1) {
  display: flex;
  margin-right: -57px;
}

.info-list li:nth-child(2) {
  display: flex;
}

.information-contacts {
  display: flex;
  justify-content: flex-end;
  padding-left: 4px;
}
.information {
  position: relative;
}

.information-delivery,
.information-guarantee,
.information-contacts {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 17px;
  text-align: center;
  box-sizing: border-box;
  color: #000000;
}

.information-delivery::after {
  display: none;
  position: absolute;
  content: "";
  background-color: #000000;
  width: 125px;
  height: 3px;
  bottom: 0;
  left: 17px;
}
.information-guarantee::after {
  display: none;
  position: absolute;
  content: "";
  background-color: #000000;
  width: 125px;
  height: 3px;
  bottom: 0;
  left: 15px;
}
.information-contacts::after {
  display: none;
  position: absolute;
  content: "";
  background-color: #000000;
  width: 125px;
  height: 3px;
  bottom: 0;
  right: 22px;
}

.information-delivery:focus,
.information-guarantee:focus,
.information-contacts:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}
.information-delivery:focus:hover,
.information-guarantee:focus:hover,
.information-contacts:focus:hover {
  border: none;
  outline: none;
}
.information-delivery:focus-visible,
.information-guarantee:focus-visible,
.information-contacts:focus-visible {
  border: none;
}

.information-delivery:hover::after,
.information-guarantee:hover::after,
.information-contacts:hover::after {
  display: block;
}

.information-delivery:active::after,
.information-guarantee:active::after,
.information-contacts:active::after {
  display: block;
  opacity: 0.3;
}
.information-delivery:active,
.information-guarantee:active,
.information-contacts:active {
  opacity: 0.3;
}

.main-index {
  color: #444444;
  background-color: #ffffff;
}

/* ====== SLAIDER ====== */

.products-slider {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  width: 1160px;
  position: relative;
  align-items: center;
  margin-top: -152px;
  margin-bottom: 70px;
}
.products-slider.unactive {
  display: none;
}

.slider-controls {
  justify-content: space-between;
  position: absolute;
  width: 560px;
  display: flex;
}

.slider-photo-img {
  display: block;
  margin: 0;
  padding: 0;
}

.slider-button {
  border: 0;
  background: none;
  display: flex;
  justify-content: space-between;
  content: url("../images/left-tall-arrow.svg");
  padding: 10px;
  margin: 0 10px;
}

.slider-button:hover {
  opacity: 0.6;
}
.slider-button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 6px;
}
.slider-button:active {
  opacity: 0.3;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-info {
  margin-top: 90px;
  width: 560px;
}

.slogan {
  position: relative;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
  z-index: 10;
}
.slogan-quadro::before {
  content: "01";
  width: 250px;
  height: 135px;
  color: #ffffff;
  float: right;
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -40px;
  margin-left: 290px;
}

.slogan-whatch::before {
  content: "02";
  width: 250px;
  height: 135px;
  color: #ffffff;
  float: right;
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -40px;
  margin-left: 265px;
}
.slogan-selfi::before {
  content: "03";
  width: 250px;
  height: 135px;
  color: #ffffff;
  float: right;
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  position: absolute;
  z-index: -1;
  margin-top: -40px;
  margin-left: 265px;
}

.product-description {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  margin-bottom: 48px;
}

.slaider-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slaider-pagination {
  display: flex;
  justify-content: space-between;
  min-width: 80px;
  margin-right: 60px;
}

.slaider-pagination-button {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: black;
  background-color: #ffffff;
  cursor: pointer;
}
.slaider-pagination-button-selected {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}
.slaider-pagination-button {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
}
.slaider-pagination-button:focus {
  border: 2px solid #af4fff;
}
.slaider-pagination-button:hover {
  opacity: 0.6;
}
.slaider-pagination-button:hover {
  opacity: 0.3;
}
.item-characteristics {
  margin-top: 55px;
  min-width: 320px;
  border-collapse: collapse;
}

.table-header {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  width: 160px;
}

.table-row {
  font-family: "rubik", "verdana", sans-serif;
  font-size: 16px;
  line-height: 32px;
}

/* ====== POPULAR PRODUCTS ====== */

.popular-products-section {
  width: 1160px;
  margin: 0% auto;
  margin-bottom: 162px;
}

.popular-products {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 160px 60px;
  gap: 40px;
}

.background-popular {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
}

.background-popular img {
  display: block;
}
.img-minipod {
  align-self: flex-end;
}

.background-popular:hover {
  background: #ffc700;
}

.products-category-item:focus {
  color: #af4fff;
}

.products-category-item:focus:hover {
  color: black;
}

.products-category-item:focus .background-popular {
  outline: 5px solid #af4fff;
  border: none;
}

.products-category-item:focus .background-popular:hover {
  outline: none;
  border: none;
}

.products-category-item:focus-visible {
  border: none;
  outline: none;
}

.products-category-item:active {
  opacity: 0.3;
}

.products-category-item:active .background-popular {
  background: #ffc700;
  outline: none;
  border: none;
}

.products-category-item:active .background-popular img {
  opacity: 0.3;
}

.background-popular-vr {
  background-image: url("../images/virtual.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.background-popular-ms {
  background-image: url("../images/monopod-vector.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.background-popular-ec {
  background-image: url("../images/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.background-popular-fb {
  background-image: url("../images/fitness-braslet.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.background-popular-sw {
  background-image: url("../images/watch.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.background-popular-qq {
  background-image: url("../images/quadcopter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.products-category-item {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

/* ====== DELIVERY-WARRANTY-CREDIT ====== */

.service-container {
  display: flex;
  width: 100%;
  min-height: 288px;
  margin: 0 auto;
  background-color: #f0f0f0;
  align-items: center;
}

.service-container-text {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-top: -100px;
}

.background-popular {
  background-color: #ffe17f;
}

.services {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  margin-top: 85px;
}

.service-item {
  margin-bottom: 26px;
}

.delivery.active {
  max-width: 880px;
  display: block;
}
.delivery {
  max-width: 880px;
  display: none;
}

.delivery-header {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  color: #000000;
  padding-left: 113px;
  width: 695px;
  margin-top: -6px;
}

.delivery-header::after {
  content: url("../images/delivery-man.svg");
  width: 136px;
  height: 164px;
  float: right;
  margin-top: 14px;
}
.about-delivery {
  padding-left: 114px;
  width: 497px;
  line-height: 30px;
  margin-top: -8px;
}

.warranty-header {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  color: #000000;
  padding-left: 113px;
  width: 679px;
  margin-top: -6px;
}
.warranty-header::after {
  content: url("../images/warranty.svg");
  width: 163px;
  height: 188px;
  float: right;
  margin-top: -10px;
}
.about-warranty {
  padding-left: 114px;
  width: 497px;
  line-height: 30px;
  margin-top: -8px;
}

.credit-header {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  line-height: 50px;
  font-size: 50px;
  color: #000000;
  padding-left: 113px;
  width: 670px;
  margin-top: -6px;
}
.credit-header::after {
  content: url("../images/credit.svg");
  width: 136px;
  height: 164px;
  float: right;
  margin-top: -12px;
}
.about-credit {
  padding-left: 114px;
  width: 497px;
  line-height: 30px;
  margin-top: -8px;
}

.service-item-container {
  display: flex;
  width: 280px;
  border-right: 7px solid #000000;
  min-height: 319px;
  margin-top: -80px;
}

.service-button {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 160px;
  text-align: center;
  line-height: 20px;
  border: none;
  background: none;
  padding: 0px;

  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.service-button:hover {
  background-color: #ffc700;
  border: none;
  outline: none;
}

.service-button span {
  position: relative;
  z-index: 10;
}

.service-button:before,
.service-button:focus:hover:before {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #ffc700;

  content: " ";

  z-index: 0;
  border: none;
  outline: none;
}

.service-button:focus:before {
  background-color: #af4fff;
  border: none;
  outline: none;
}

.service-button.active {
  color: #ffe17f;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  background-color: black;
}

.service-button.active:before {
  display: none;
}

/* ====== DELIVERY RARE ITEM ====== */

.rare-item {
  display: flex;
  justify-content: center;
  margin: 0% auto;
  margin-top: 89px;
  background-color: #f0f0f0;
  width: 1160px;
  height: 100px;
}

.delivery-rare-item::before {
  content: url("../images/delivery-van.svg");
  width: 47px;
  height: 31px;
  background-color: #ffe17f;
  padding-top: 35px;
  padding-bottom: 34px;
  padding-left: 39px;
  padding-right: 39px;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.delivery-rare-item {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.delivery-rare-item-text {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.delivery-rare-item::after {
  position: absolute;
  content: url("../images/info.svg");
  width: 40px;
  height: 40px;
  float: right;
  right: 33px;
  top: 30px;
}
.delivery-rare-item:focus {
  box-sizing: border-box;
  outline: 5px solid #af4fff;
}
.delivery-rare-item:hover::before {
  background-color: #ffc700;
}
.delivery-rare-item:hover::after {
  color: #000000;
  background-color: #ebebeb;
  border-radius: 50%;
}
.delivery-rare-item:active {
  opacity: 0.6;
}
.delivery-rare-item:focus:hover,
.delivery-rare-item:focus-visible {
  outline: none;
}

/* ====== ABOUT COMPANY ====== */

.about-us-container {
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 46px;
}

.advantages {
  width: 497px;
  margin-right: 103px;
  position: relative;
  padding-bottom: 30px;
}

.about-us {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 146px;
  margin-bottom: 46px;
}

.about-us::before {
  content: "";
  width: 80px;
  height: 7px;
  float: left;
  background-color: #000000;
  margin-top: -49px;
}

.transport-companies {
  display: flex;
  flex-direction: column;
  min-height: 130px;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin-top: 65px;
  margin-left: 0;
  margin-bottom: 47px;
  padding: 0;
  list-style: none;
}

.company-list {
  margin: 9px 0px;
}
.company-list::before {
  content: "";
  float: left;
  width: 8px;
  height: 8px;
  background-color: #ffe17f;
  border-radius: 50%;
  margin-top: 7px;
  margin-right: 26px;
}

.p {
  margin-bottom: 29px;
}
.universal-button-about-us {
  width: 260px;
  margin-top: auto;
}

/* ====== CONTACTS ====== */
.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

.contacts-title {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 146px;
  margin-bottom: 46px;
}

.contacts-title::before {
  content: "";
  width: 80px;
  height: 7px;
  float: left;
  background-color: #000000;
  margin-top: -49px;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.about-us-description,
.contacts-title-description {
  line-height: 30px;
}

.working-hours {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.contacts-shedule {
  line-height: 30px;
}

.address,
.contacts-adress,
.contacts-phone {
  font-style: normal;
  line-height: 30px;
}

.contacts-phone {
  font-size: 18px;
  text-decoration: none;
  text-decoration-line: underline;
  color: #444444;
}

/* ====== SUBSCRIBE ====== */

.subscribe-container {
  min-width: 100%;
  margin: 0% auto;
  background-color: #f0f0f0;
}

.subscribe-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  flex-direction: column;
}

.subscribe-text {
  display: flex;
  padding-top: 75px;
  margin-bottom: 61px;
}

.why-subscribe {
  line-height: 30px;
  flex: 0 1 50%;
  padding-top: 10px;
}

.subscribe-title {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  flex: 0 1 50%;
  margin: 0;
  padding-right: 40px;
}

.subscribe-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 128px;
}

.e-mail-adress {
  display: flex;
  height: 55px;
  align-items: stretch;

}

.address-box {
  display: block;
  border: 0px;
  background: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 600px;
}

.address-box::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  height: 55px;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

.address-box:hover,
.address-box:focus:hover {
  background: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.address-box:placeholder-shown:valid {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.address-box:valid {
  color: black;
  background: none;
  border-bottom: 3px solid black;
}

.address-box:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscribe-button {
  display: block;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 260px;

  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
}

.subscribe-button:hover {
  border: 3px solid black;
  background-color: black;
  color: white;
}

.subscribe-button:focus {
  border: 3px solid #af4fff;
}

.subscribe-button:hover:focus {
  border: 3px solid black;
}

.subscribe-button:active {
  border: 3px solid black;
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
}

.its-free {
  align-self: center;
}

.its-free::before {
  content: url("../images/check.svg");
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 22px;
  margin-top: 3px;
}

.address-box-input-error:not(:placeholder-shown) {
  border-bottom: 3px solid red;
}

/* ====== FOOTER ====== */

.page-footer {
  min-width: 100%;
  background: #444444;
  color: #ffffff;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0% auto;
}

.logo-container {
  padding-top: 64px;
  margin-right: 116px;
}

.logo-footer {
  margin-bottom: 29px;
}

.footer-contacts-address::after {
  content: "";
  width: 80px;
  height: 7px;
  float: left;
  background-color: #ffc700;
  margin-top: 66px;
  margin-bottom: 77px;
}

.footer-customer-information {
  display: flex;
  flex-direction: column;
  width: 458px;
  padding-top: 138px;
  margin: 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 293px;
  padding-top: 139px;
  margin-left: 56px;
}

.footer a {
  font-size: 16px;
}

.footer-adress {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
  width: 240px;
}

.footer-phone {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 66px;
  padding: 2px 10px;
  margin-right: -10px;
}
.footer-phone:focus {
  outline: 2px solid #AF4FFF;
  box-sizing: border-box;
  border-radius: 25px;
}
.footer-phone:hover {
  color: #FFC700;
}
.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-services {
  position: relative;
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 148px;
  padding: 8px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.footer-social-media-list {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}
.media-button {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0 8px;
}
.footer-social-media-item {
  position: relative;
}
.media-icon {
  position: absolute;
    top: 10px;
    fill: #444444;
    left: 17px;
}

.logo-html-academy {
  padding: 10px;
}
.logo-html-academy:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}
.logo-html-academy:active,
.logo-html-academy:hover {
  border: none;
  outline: none;
}

.logo-html {
  fill: #FFC700;
}

.logo-html:hover {
  fill: #FFFFFF;
}
.logo-html:active {
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}
.footer-services::after {
  display: none;
  content: "";
  background-color: #ffc700;
  width: 125px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 9px;
}
.footer-services:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 25px;
  border: none;
}
.footer-services:hover {
  color: #ffc700;
}
.footer-services:hover::after {
  display: block;
}
.footer-services:hover:active {
  display: block;
  opacity: 0.3;
}
.footer-services:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-services:focus:active {
  outline: none;
}
.footer-services:focus:hover {
  outline: none;
}
.media-button:focus {
  outline: 5px solid #af4fff;
  border-radius: 50%;
  background-color: transparent;

}
.media-button:focus > .media-icon {
  fill: #FFFFFF;
}
.media-button:hover {
  background-color: #ffc700;
  outline: none;
}
.media-button:hover > .media-icon {
  fill: #444444;
}
.media-button:active {
  background-color: #ffc700;
  opacity: 0.6;
  outline: none;
}
.media-button:active > .media-icon {
  fill: #444444;
}
.media-button:focus:active {
  outline: none;
}
.media-icon-tw {
  left: 13px;
    top: 13px;
}
.media-icon-inst {
  left: 12px;
  top: 12px;
}

/* ====== CATALOG PAGE ====== */

/* ====== CATALOG HEADER ====== */

.user-nav-catalog {
  margin-bottom: 42px;
}

.catalog-page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.header-content {
  width: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
  width: 100%;
}

.info-list {
  display: flex;
  justify-content: space-between;
}
.user-link::before {
  content: url("../images/user.svg");
  width: 13px;
  height: 12px;
  padding-right: 12px;
}
.catalog-page-header .navigation-user:nth-child(1) {
  margin-right: -26px;
}

.exit {
  font-size: 16px;
  color: #000000;
  opacity: 0.3;
  padding: 10px;
  padding-left: 16px;
  padding-right: 18px;
}
.exit:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: 1;
}
.exit:hover {
  opacity: 1;
}
.exit:active {
  opacity: 0.6;
  outline: none;
  border: none;
}

.inner-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
  background-color: #ffffff;
  margin-bottom: 5px;
  margin-top: 37px;
}
.inner-header-content {
  padding-left: 60px;
}

.monopods-title {
  margin-top: 37px;
  margin-bottom: 14px;
  padding-left: 60px;
  margin: 0 auto;
  width: 1160px;
}

.inner-header-title {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

/* ====== BREADCRUMBS ====== */

.breadcrumbs-link {
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  padding: 5px;
}
.breadcrumbs-link:focus {
  outline: 5px solid #af4fff;
}
.breadcrumbs-link:hover {
  outline: none;
  opacity: 1;
}
.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-arrow {
  display: block;
  position: absolute;
  right: -15px;
  top: 5px;
  opacity: 0.6;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 36px;
  margin-top: 21px;
  line-height: 19px;
  margin-left: -6px;
}
.bradcrumbs-item {
  display: flex;
  position: relative;
  margin-right: 25px;
}

/* ====== MAIN-CATALOG ====== */

.main-inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-inner .background {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-left {
  flex: 0 0 30%;
  background: #ebebeb;
}

.background-left .background-header {
  height: 70px;
  width: 100%;
  background-color: #dcdcdc;
}

.background-right {
  flex: 0 0 70%;
  background-color: white;
}

.background-right .background-header {
  height: 70px;
  width: 100%;
  background-color: #ebebeb;
}

.main-inner > .content {
  display: flex;
  width: 100%;
  max-width: 1160px;
}

/* ====== FILTERS ====== */

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 12px;
  background-color: #242424;
 opacity: 0.6;
}
.range-bar {
  position: absolute;
  height: 2px;
  background-color: #242424;
}
.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  outline: 2px solid #AF4FFF;
}


.range-toggle:focus {
  outline: 2px solid #AF4FFF;
  opacity: 0.3;
}
.range-toggle:active {
  background: #000000;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}
.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  margin-right: 15px;
}
.catalog-filter-label:last-child {
  margin-right: 51px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}
.catalog-filter-label,
.range-input {
  font-size: 15px;
line-height: 18px;
text-align: center;
opacity: 0.6;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  border: none;
}
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 18px;
}

.control-mark {
  position: absolute;

  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.control:hover .control-mark {
  opacity: 0.5;
}
.control-label:hover {
  opacity: 0.5;
}

.control-input:focus + .control-mark {
  border: 2px solid #AF4FFF;
  }
.control-label:focus {
  color: #AF4FFF;
}

.control-input:active + .control-mark {
  opacity: 1;
}
.control:active + .control-mark {
  opacity: 0.2;
}
.control-label:active {
  opacity: 0.2;
}
.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid black;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: -5px;
  left: 2px;
  width: 10px;
  height: 10px;
  content: url("../images/galochka.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}
.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid black;
}
.control-input[type="radio"]:focus + .control-mark {
  border: 2px solid #AF4FFF;
}


.main-inner > .content > .filters {
  flex: 0 0 28%;
  background-color: #ebebeb;
}

.main-inner > .content > .filters .filters-header {
  background: #dcdcdc;
}

.main-inner > .content > .filters .filters-main {
  width: 100%;
  background: #ebebeb;
}

.filter-body {
  padding-top: 83px;
  padding-left: 60px;
  width: 200px;
}

.filters-header {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 60px;
}

.filter-title {
  background: #dcdcdc;
  font-size: 16px;
  color: #000000;
}

.filter {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  color: #000000;
}

.catalog-filter-title {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: -13px;
}
.catalog-filter-title-color:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: -2px;
}

.catalog-filter-title-color {
padding-top: 10px;
margin-bottom: 29px;
}
.catalog-filter-group {
  margin-bottom: 37px;
}
.catalog-filter-title-bluetooth {
  margin-bottom: 25px;
}
.catalog-filter-group-bluetooth {
  margin-bottom: 27px;
}

/* ====== SORTING ====== */
.content-header {
  display: flex;
  justify-content: space-between;
}
.sorting-buttons {
  display: flex;
  align-items: center;
  margin-right: -10px;
}
.sorting-buttons-icon {
  padding: 10px;
  opacity: 0.3;
}
.sorting-buttons-selected {
  opacity: 1;
}
.sorting-buttons-icon:focus {
  outline: 5px solid #af4fff;
  opacity: 1;
}
.sorting-buttons-icon:hover {
  outline: none;
  opacity: 0.6;
}
.sorting-buttons-icon:active {
  outline: none;
  opacity: 1;
}
.select-control {
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: black;
  width: 195px;
}
.sorting-type {
  display: flex;
  height: 30px;
  align-self: center;
}
.select-control:focus {
  outline: 5px solid #af4fff;
}
.main-inner > .content > .content {
  flex: 0 0 72%;
}

.main-inner > .content > .content .content-header {
  background: #ebebeb;
}

.content-header {
  display: flex;
}

.sort {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 75px;
  margin-right: -269px;
}

/* ====== PRODUCT CARD ====== */
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
  margin-top: 69px;
  justify-content: space-between;
  max-width: 825px;
  margin-bottom: 5px;
}
.new:after {
  position: absolute;
  border: 0;
  background: none;
  content: url("../images/new.svg");
 width: 60px;
 height: 60px;
 top: 27px;
 right: 27px;
}
.content-main {
  display: flex;
  flex-wrap: wrap;
}

.products-cards {
  margin-left: 72px;
  width: 760px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}
.catalog-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.catalog-item-link {
  display: block;

  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  margin-bottom: 44px;
}

.catalog-item .universal-button {
  display: none;
}

.catalog-item:hover .universal-button {
  display: block;
}

.catalog-item-link:hover .catalog-item-image {
  opacity: 0.3;
}

.catalog-item-link:hover .universal-button:hover .background-universal-button {
  padding: 0 0;
}

.catalog-item-link:focus {
  color: #af4fff;
}

.catalog-item-image {
  margin-bottom: 28px;
}

.catalog-item-link:focus .catalog-item-image {
  outline: 5px solid #af4fff;
}

.catalog-item-link:focus *,
.catalog-item-link:focus-visible {
  border: none;
  outline: none;
}

.catalog-item-price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  width: 100px;
  text-align: end;
  padding-top: 3px;
}
.product {
  position: relative;
  width: 360px;
}
.product .universal-button {
  width: 180px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
}
.filters .universal-button {
  width: 200px;
}

/* ====== SHOW MORE ====== */

.show-more-text {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.2em;
}

.show-more-button {
  display: flex;
  width: 758px;
  justify-content: center;
  outline: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-height: 52px;
  align-items: center;
}
.pagination-container {
  margin-left: 77px;
  margin-bottom: 73px;
}
.show-more-button:focus {
  outline: 5px solid #af4fff;
  border: none;
  box-sizing: border-box;
}
.show-more-button:hover:focus {
  box-sizing: border-box;
  border: none;
}
.show-more-button:hover {
  outline: 3px solid #000000;
}
.show-more-button:active {
  opacity: 0.3;
}
.show-more {
  margin-bottom: 53px;

}
/* ====== PAGINATION ====== */

.pagination {
  display: flex;
  justify-content: center;
  max-width: 760px;
  min-height: 70px;
}
.pagination-list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #ebebeb;
  align-items: center;
}
.pagination-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.pagination-nav {
  border: 5px solid transparent;
  cursor: pointer;
  display: flex;
  justify-self: stretch;
  padding: 22px 22px;
 }
.pagination-nav:nth-child(1) {
  margin-right: 169px;
}
.pagination-nav:last-child {
  margin-left: 126px;
}
.pagination-nav:focus {
  border: 5px solid #af4fff;
}
.pagination-nav:hover {
  background: #DCDCDC;
  outline: none;
  border: 5px solid #DCDCDC;
}
.pagination-nav:active {
  opacity: 0.3;
}
.pagination-nav-text {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination-link:focus {
  border: 5px solid #af4fff;
}
.pagination-link:hover {
  color: #444444;
  border: 5px solid transparent;
}
.pagination-link:active {
  color: #444444;
opacity: 0.1;
border: 5px solid transparent;
}
.pagination-link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  opacity: 0.3;
  width: 7px;
}
.pagination-link {
  border: 5px solid transparent;
  box-sizing: border-box;
  min-width: 38px;
  min-height: 38px;
}

/* ====== SUBCATALOG ====== */
.subcatalog-background {
  display: none;
  position: absolute;
  width: 1160px;
  background-color: #ffe17f;
  left: 0;
  z-index: 11;
  top: 149px;
}
.subcatalog-container {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  padding-left: 50px;
  margin-top: 35px;
  margin-bottom: 38px;
}
.column-1 {
  width: 220px;
  margin-right: 20px;
}
.column-2 {
  width: 200px;
  margin-right: 1px;
}
.subcatalog-category {
  margin-bottom: 18px;
}
.subcatalog-category-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  padding: 0px 10px 0px 10px;
}
.subcatalog-category-item:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}
.subcatalog-category-item:hover {
  opacity: 0.6;
}
.subcatalog-category-item:active {
  opacity: 0.3;
}
.subcatalog-category-item:focus:hover {
  outline: none;
}

/* ====== BASKET ====== */
.basket-popover {
  display: none;
  position: absolute;
  z-index: 110;
  right: -85px;
  top: 20px;
}

.basket-wrapper {
  position: relative;
  display: flex;
  width: 320px;
  min-height: 135px;
  background-color: black;
  margin: 20px;
}
.basket-wrapper::before {
  content: url("../images/triangle.svg");
  position: absolute;
  right: 50%;
  top: -17px;
}
.basket-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
}
.basket-item:nth-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 15px 20px 20px;
}
.basket-item-name {
  width: 180px;
  margin: 0;
}
.basket-item-name:focus-visible {
  border: none;
  outline: none;
}
.basket-item-name:focus {
  color: #af4fff;
}
.basket-item-name:hover {
  opacity: 0.6;
  outline: none;
}

.basket-item-name:active {
  opacity: 0.3;
  outline: none;
}
.basket-item-name {
  text-decoration: none;
  color: #ffffff;
}

.previev-link {
  display: flex;
  padding: 0;
  margin: 0;
}
.previev-link:focus-visible {
  outline: none;
  border: none;
}
.previev-link:focus {
  outline: 5px solid #af4fff;
}
.previev-link:hover {
  opacity: 0.6;
}

.previev-link:active {
  opacity: 0.3;
}
.delete-item {
  margin-top: -15px;
  padding: 7px;
}
.delete-item:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;

  width: 25px;
  height: 25px;
}
.delete-item:hover {
  opacity: 0.6;
}
.delete-item:active {
  opacity: 0.3;
}
.summ {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 0 20px;
  margin-bottom: 5px;
}
.goods {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 10px 0;
}
.open-basket {
  background-color: #ffffff;
  width: 280px;
  padding: 15px 0;
  margin: 20px;
}
.open-basket:focus {
  outline: 5px solid #af4fff;
}
.open-basket:hover {
  background: #ffe17f;
}
.open-basket:active {
  background: #ffe17f;
  opacity: 0.6;
}
.open-basket:focus:hover {
  outline: none;
}
.open-basket-text {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* ====== MODAL ====== */

.modal-window {
  display: none;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  left: 0;
  top: 0;
}

.modal {
  flex: 0 0 920px;
  height: 580px;
  margin: auto;
  border: 10px solid black;
  background-color: white;
  box-sizing: border-box;
  padding: 65px 69px 65px 68px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.modal-header-text {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
}

.modal .cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-right: -17px;
  background-color: transparent;
}

.modal .cross:hover {
  opacity: 0.5;
}

.modal .cross:focus {
  box-sizing: border-box;
  border: 5px solid #af4fff;
  border-radius: 50%;
  outline: none;
}

.modal .cross:focus:hover {
  border: none;
}

.modal .cross:active {
  opacity: 0.2;
}

.modal .cross:after {
  width: 26px;
  height: 26px;
  content: url("../images/cross.svg");
}

.modal .modal-main,
.modal .form-item-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}

.modal .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  height: 124px;
  margin-bottom: 10px;
}

.form-item > header,
.form-item > .form-item-main,
.form-item > footer {
  margin: 0px;
}

.form-item > header {
  flex: 0 0 34px;
}

.form-item > .form-item-main {
  flex: 0 0 60px;
}

.form-item .modal-input {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  width: 100%;
  height: 100%;
  padding: 0px 50px 0px 20px;

  border: none;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.6);
}
.modal-input-error:not(:placeholder-shown) {
  border: 3px solid red;
}

.modal .modal-input:focus {
  outline: none;
}

.form-item.form-counter .form-item-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f0f0f0;
}

.form-counter-main > * {
  display: block;
  flex: 0 0 33%;
  width: 33%;
  padding: 0px;
  margin: 0px;
  border: none;
  margin: 0 1px;
}

.form-counter-main input {
  text-align: center;
}

.form-item footer {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  flex: 0 0 30px;
}

.width-360 {
  flex: 0 0 360px;
}

.width-360 {
  flex: 0 0 360px;
}

.width-560 {
  flex: 0 0 560px;
}

.width-160 {
  position: relative;
  flex: 0 0 160px;
}

.red-text {
  color: #ff3d3d;
}
.service-button.service-button-modal {
  width: 200px;
}
.plus svg {
  padding-top: 7px;
  padding-right: 4px;
  opacity: 0.3;
}
.minus svg {
  opacity: 0.3;
}

.quantity {
  display: flex;
}

.info-icon {
  background-image: url("../images/info-no-bcg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 12px;
  outline: 0;
  border: none;
}

.modal-pop-up {
  display: none;
  position: absolute;
  background: #000000;
  color: #ffffff;
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 162px;
  top: 35px;
  right: -14px;
  padding: 19px;
  text-align: left;
}

.modal-pop-up::before {
  content: url("../images/triangle.svg");
  position: absolute;
  top: -15px;
  right: 35px;
}

.info-icon:hover .modal-pop-up {
  display: block;
}

.modal-name {
  position: relative;
}
.modal-name::after {
  position: absolute;
  content: url("../images/user-modal.svg");
  width: 13px;
  height: 12px;
  right: 19px;
  bottom: -33px;
}
.modal-e-mail {
  position: relative;
}
.modal-e-mail::after {
  position: absolute;
  content: url("../images/envelope.svg");
  right: 21px;
  bottom: -43px;
}
.modal-input:hover {
  background-color: #ebebeb;
}
.modal-input:focus {
  border: 5px solid #af4fff;
  box-sizing: border-box;
}
.modal-input:active {
  background-color: #ffffff;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.modal-input:focus:hover {
  background-color: #ffffff;
  border: 3px solid #000000;
  box-sizing: border-box;
}

.plus:focus,
.minus:focus {
  outline: 2px solid #af4fff;
  box-sizing: border-box;
}



