/* ====== FONTS ====== */

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* ====== MODAL ====== */


.modal-window {
  display: none;
}

.modal-wrapper {

  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  left: 0;
  top: 0;
}


.modal {
  flex: 0 0 920px;
  height: 580px;
  margin: auto;
  border: 10px solid black;
  background-color: white;
  box-sizing: border-box;
  padding: 65px 69px 65px 68px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.modal-header-text {
  font-family: "raleway", "verdana", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
}

.modal .cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
border: none;
  margin-right: -17px;
  background-color: transparent;
}

.modal .cross:hover {
  opacity: 0.5;
}

.modal .cross:focus {
  box-sizing: border-box;
  border: 5px solid #af4fff;
  border-radius: 50%;
  outline: none;
}

.modal .cross:focus:hover {
  border: none;
}

.modal .cross:active {
  opacity: 0.2;
}

.modal .cross:after {
  width: 26 px;
  height: 26 px;
  content: url("../images/cross.svg");
}

.modal main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}

.modal .form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  height: 124px;
  margin-bottom: 10px;
}

.modal .form-item header,
.modal .form-item main,
.modal .form-item footer {
  margin: 0px;
}

.modal .form-item header {
  flex: 0 0 34px;
}

.modal .form-item main {
  flex: 0 0 60px;
}

.modal .form-item main input {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  width: 100%;
  height: 100%;
  padding: 0px 50px 0px 20px;

  border: none;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.6);
}

.modal .form-item main input:focus {
  outline: none;
}

.modal .form-item.form-counter main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #f0f0f0;
}

.modal .form-item.form-counter main > * {
  display: block;
  flex: 0 0 33%;
  width: 33%;
  padding: 0px;
  margin: 0px;
  border: none;
  margin: 0 1px;
}

.modal .form-item.form-counter main input {
  text-align: center;
}

.modal .form-item footer {
  font-family: "rubik", "verdana", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
margin-top: 8px;
  flex: 0 0 30px;
}

.width-360 {
  flex: 0 0 360px;
}

.width-360 {
  flex: 0 0 360px;
}

.width-560 {
  flex: 0 0 560px;
}

.width-160 {
  position: relative;
  flex: 0 0 160px;
}

.red-text {
  color: #ff3d3d;
}
.service-button.service-button-modal {
  width: 200px;
}
.plus svg {
  padding-top: 7px;
      padding-right: 4px;
      opacity: 0.3;
}
.minus svg {
  opacity: 0.3;
}

.quantity {
  display: flex;
}

.info-icon {
  background-image: url("../images/info-no-bcg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 12px;
  outline: 0;
  border: none;
}


.modal-pop-up {
display: none;
  position: absolute;
  background: #000000;
  color: #FFFFFF;
  font-family: "rubik", "verdana", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
width: 162px;
top: 35px;
right: -14px;
padding: 19px;
text-align: left;
}

.modal-pop-up::before {

  content: url("../images/triangle.svg");
  position: absolute;
  top: -15px;
  right: 35px;
}

.info-icon:hover .modal-pop-up {
  display: block;
}

.modal-name {
  position: relative;
}
.modal-name::after {
  position: absolute;
  content: url("../images/user-modal.svg");
width: 13px;
height: 12px;
right: 19px;
    bottom: -33px;
}
.modal-e-mail {
  position: relative;
}
.modal-e-mail::after {
  position: absolute;
  content: url("../images/envelope.svg");
right: 21px;
    bottom: -43px;
}
.modal-input:hover {
  background-color: #EBEBEB;
}
.modal-input:focus {
 border: 5px solid #AF4FFF;
 box-sizing: border-box;
}
.modal-input:active {
  background-color: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
 }
 .modal-input:focus:hover {
  background-color: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
 }
 .modal-input:invalid {
  border: 3px solid #FF3D3D;
  box-sizing: border-box;
 }


 .plus:focus,
 .minus:focus {

  outline: 2px solid #AF4FFF;
  box-sizing: border-box;

 }


